body {
  background: #eee;
  font-family: sans-serif;
  border: 10px solid #fff;
  margin: 10px 100px;
  box-sizing: border-box;
}

.card {
  width: auto;
  background: #fff;
}

.title {
  background: #e3f4ff;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 30px;
  display: block;
  margin: auto;
}